html
    head
        title idi oka pug
    body
        h1 lets see pug
        h2 idi ento naakem ardam kavatledu
        h3 chusko idi h3 malla
        h4 neglect cheayyadame better
        h5 bugs evaluation better avvatam
        h6 credits biscuit avthaaya chusko
        h7 chuskodam better